#### Preseed file for Ubuntu 20.04 focal
# Docs: - https://help.ubuntu.com/lts/installation-guide/amd64/apbs01.html
#       - https://help.ubuntu.com/20.04/installation-guide/example-preseed.txt

### Localization
# Locale sets language and country.
d-i debian-installer/locale string en_US.utf8
# Keyboard selection.
d-i keyboard-configuration/xkb-keymap select pl

### Mirror settings
d-i mirror/country string manual
d-i mirror/http/hostname string archive.ubuntu.com
d-i mirror/http/directory string /ubuntu
d-i mirror/http/proxy string
# choose-mirror-bin mirror/http/proxy string {{ env("apt_proxy_url") }}

### Clock and time zone setup
# Controls whether or not the hardware clock is set to UTC.
d-i clock-setup/utc boolean true
# see ls -R  /usr/share/zoneinfo/ for valid values.
d-i time/zone string Europe/Warsaw

### Partitioning
# This creates an unencrypted primary ext4 partition without swap.
d-i partman-auto/disk string /dev/sda
d-i partman-auto/method string regular
d-i partman-auto/choose_recipe select unencrypted-install
d-i partman-basicfilesystems/no_swap boolean false
d-i partman-auto/expert_recipe string \
        root :: \
                8190 100000 -1 ext4 \
                        $primary{ } $bootable{ } \
                        method{ format } format{ } \
                        use_filesystem{ } filesystem{ ext4 } \
                        mountpoint{ / } \
                .
d-i partman-partitioning/confirm_write_new_label boolean true
d-i partman/choose_partition select finish
d-i partman/confirm boolean true
d-i partman/confirm_nooverwrite boolean true

### Account setup
# Default user '{{ env("vm_default_user") }}'
d-i passwd/root-login boolean true
d-i passwd/user-fullname string {{ env("vm_default_user") }}
d-i passwd/username string {{ env("vm_default_user") }}
d-i user-setup/encrypt-home boolean false
# Encrypted root and user passwords
d-i passwd/root-password-crypted password {{ env("password_hash1") }}
d-i passwd/user-password-crypted password {{ env("password_hash2") }}

### Package selection
tasksel tasksel/first multiselect standard, server
# Full upgrade packages after debootstrap and unattended upgrades
d-i pkgsel/upgrade select full-upgrade
d-i pkgsel/update-policy select unattended-upgrades
# Individual additional packages to install
# - qemu-guest-agent needed for packer; better random generator speeds up boot
d-i pkgsel/include string openssh-server sudo qemu-guest-agent haveged python-apt docker.io cloud-init
d-i pkgsel/install-language-support boolean false
# Do not report back on what software is installed, and what software is used
popularity-contest popularity-contest/participate boolean false

### Boot loader installation
d-i grub-installer/bootdev string /dev/sda

### Run custom commands during the installation
# Enable passwordless sudo for default user and permit root login for Packer Ansible provisioner to work
d-i preseed/late_command string \
    echo '{{ env("vm_default_user") }}  ALL=(ALL:ALL) NOPASSWD: ALL' >> /target/etc/sudoers.d/default-user && chmod 440 /target/etc/sudoers.d/default-user && \
    sed -i "/^#PermitRootLogin/c\PermitRootLogin yes" /target/etc/ssh/sshd_config

### Finishing up the installation
# Avoid that last message about the install being complete.
d-i finish-install/reboot_in_progress note
